var isPlaying = function (track) {
  return !!track.index || track.index === 0;
};

var isActive = function (index, track, epName) {
  return index === track.index && track.epName === epName;
};

var pad = function (val) {
  if (val < 10) {
    return "0" + val;
  }

  return val;
};

var toSongTime = function (seconds) {
  var left = Math.floor(seconds / 60);
  var right = Math.round(seconds % 60);
  return pad(left) + ":" + pad(right);
};

var round = function (val) {
  return Math.round(val);
};

var versionEps = function (eps, version) {
  return eps[version];
};

var targetEp = function (eps, version, epName) {
  return (
    eps[version].filter(function (ep) {
      return ep.name === epName;
    })[0] || { audios: [] }
  );
};

var menuShowNotice = function (oldIds, newIds) {
  if (!newIds.length) return false;

  var result = false;

  for (var i = 0; i < newIds.length; i++) {
    var newId = newIds[i];
    if (oldIds.indexOf(newId) < 0) {
      result = true;
      break;
    }
  }

  return result;
};

var epShowNotice = function (epId, oldIds, newIds) {
  return newIds.indexOf(epId) > -1 && oldIds.indexOf(epId) == -1;
};

module.exports = {
  isPlaying: isPlaying,
  isActive: isActive,
  pad: pad,
  toSongTime: toSongTime,
  round: round,
  versionEps: versionEps,
  targetEp: targetEp,
  menuShowNotice: menuShowNotice,
  epShowNotice: epShowNotice,
};
